$white: #fff;
$black: #000;
$transperant_gray: rgba(0, 0, 0, 0.1);

$light_shadow: rgba(0, 0, 0, 0.1);
$regular_shadow: rgba(0, 0, 0, 0.2);
$blue_shadow: rgba(16, 49, 182, 0.3);
$darker_shadow: #000000b3;

$blue: hsl(223, 87%, 63%);
$slightly_pale_blue: hsl(223, 87%, 70%);
$pale_blue: hsl(223, 100%, 88%);
$light_red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$very_dark_blue: hsl(209, 33%, 12%);
